#user-messages {
    text-align: center;
}
#user-messages p {
    font-size: 25px;
    margin: 40px auto;
}
.button {
    display: block;
    margin: auto;
    width: 100px;
}

@media screen and (max-width: 1023px) {
    .button {
        width: 100%;
    }
}
