.media {
    margin: 50px auto;
}
.media-left img {
    border-radius: 100px;
    display: inline-block;
}
.media-right img {
    float: right;
}
.media-content a {
    color: #000000;
}
.is-2 {
    opacity: .3;
}
