@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Droid+Serif|Playfair+Display|Open+Sans+Condensed:300);

p {
    line-height: 1.4em;
}

.quote {
    font-family: 'Open Sans Condensed';
    font-size: 30px;
    position: relative;
    letter-spacing: .03em;
    margin-bottom: .5rem;
}
/*.quote:before {
    content: "“";
    position: absolute;
    left: -.3em;
}

.quote:after {
    content: "”";
    margin-right: -1rem;
}*/

.quote--container {
    margin: 4.5rem auto 0;
    width: 100%;
}

.quote--author {
    font-family: 'Open Sans Condensed';
    font-size: 25px;
    text-align: right;
}

@media screen and (max-width: 1023px) {
    .quote--container {
        width: auto;
    }
}
