.user {
    display: inline-block;
    margin: 50px 0;
    height: 130px;
}
.user img {
    border-radius: 100px;
}
.user div.user-profile {
    text-align: center;
    display: inline-block;
}
.user div.content {
    margin: 0 40px;
    display: inline-block;
    width: 400px;
}
.user .content blockquote {
    background-color: transparent;
    border-left: 1px solid grey;
}
.user .content a {
    color: inherit;
    vertical-align: middle;
}
.user .content .heart {
    width: 40px;
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
}
