@import url('https://fonts.googleapis.com/css?family=Romanesco|Source+Sans+Pro:200,300');
html {
    background: #E6F4E7;
}
header {
    padding: 10px;
}
#logo {
    margin-left: 10%;
}
#login:hover {
    border-color: #FFFFFF;
}
.notification {
    text-align: center;
    padding: 3px;
}
.notification span {
    font-size: 17px;
}
.noty_theme__mint.noty_type__success {
    background: #61BE64;
    padding: 12px;
    border-radius: 3px;
    color: #FFFFFF;
}
.noty_body {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}
.noty_theme__mint.noty_type__success img {
    display: inline-block;
    width: 35px;
    vertical-align: middle;
    float: right;
}
