@import url('https://fonts.googleapis.com/css?family=Romanesco|Source+Sans+Pro:200,300');
#startWrapper {
    background: url(../../assets/img/background-new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 700px;
}
#welcome {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
    font-weight: 300;
    text-align: right;
    margin: 3% 12% 0 0;
    display: inline-block;
    float: right;
    color: #C9E3C9;
}
#getstarted {
    margin-top: 28px;
}
#login {
    font-size: 25px;
    font-weight: 300;
    /*background: #2C57A6;*/
    color: #FFFFFF;
    padding: 2px 13px 2px 13px;
    /*margin-top: 28px;*/
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    display: inline-block;
    float: right;
    margin: 20px 12% 0 0;
    clear: both;
}
#login:hover {
    /*background: #234584;*/
    /*background: rgba(#000000,#000000,#000000,.2);*/
    border-color: #FFFFFF;
}
.login {
    width: 90%;
    margin: auto;
}
.login-modal {
    padding: 13px;
    outline: 0;
}
.login-modal .columns {
    margin: 0 auto 0 auto;
    width: 90%;
}
.login-modal .column {
    text-align: center;
    cursor: pointer;
}
.login-modal .column li {
    /*padding: 10px 0;*/
}
.bd-notification {
    border-radius: 3px;
    padding: 10px 0;
}
.bd-notification.is-login {
    /*background-color: #23d160;*/
    background-color: #00D66A;
    color: #FFFFFF;
    /*width: 100px;*/
}
.bd-notification.is-register {
    /*background-color: #209cee;*/
    background-color: #FA8072;
    margin: 0 20px 0 20px;
    color: #FFFFFF;
    /*width: 100px;*/
}
.bd-notification.is-fb {
    background-color: #3273dc;
    color: #FFFFFF;
    font-weight: 700;
    /*width: 180px;*/
    font-size: 25px;
    padding: 3.3px;
}
.login button.signup {
    background: #F69D6D;
    transition: .3s;
}
.login button.signup:hover {
    background: #AC6D4C;
}
.login #facebook {
    /*background: none;
    background-color: #3b5998;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 8px;
    font-size: 15px;*/
}
.login #or {
    /*display: inline-block;
    width: 80px;
    text-align: center;*/
}
.login-modal .title {
    margin: 0 0 30px 21px;
}
.login-modal hr {
    width: 90%;
    margin: 1.5rem auto;
}
.login-modal form {
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}
/*div.social-wrap button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
    margin: auto;
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}*/
