@import url('https://fonts.googleapis.com/css?family=Romanesco|Source+Sans+Pro:200,300');
#start-wrapper {
    background: url(../../assets/img/background-new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 700px;
}
#welcome {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
    font-weight: 300;
    text-align: right;
    margin: 3% 12% 0 0;
    display: inline-block;
    float: right;
    color: #C9E3C9;
}
#info {
    margin-bottom: 50px;
}
