#book-page {
    margin: 5% 0 0 10%;
    height: 350px;
}
#book-like {
    display: inline-block;
    margin: 0% 0 0 5%;
}
#book-delete {

}
#book-comment {
    display: inline-block;
    width: 400px;
    margin-left: 7%;
}
#book-comment .card-header-title {
    font-weight: 600;
    color: #FFFFFF;
}
#book-comment .card-footer-item {
    color: #000000;
}

@media screen and (max-width: 1023px) {
    #book-page {
        margin: 5% 0 0 0;
        height: auto;
    }
    #book-comment {
        width: auto;
        margin: 10% 0 0 0;
    }
}
